annotated-doc==0.0.4
annotated-types==0.7.0
anyio==4.13.0
argon2-cffi==25.1.0
argon2-cffi-bindings==25.1.0
cffi==2.1.0
click==8.4.1
colorama==0.4.6
fastapi==0.136.1
h11==0.16.0
idna==3.16
iniconfig==2.3.0
numpy==2.5.1
packaging==26.3
pandas==3.0.5
pluggy==1.6.0
psycopg2-binary==2.9.12
pwdlib==0.3.0
pycparser==3.0
pydantic==2.13.4
pydantic_core==2.46.4
Pygments==2.21.0
PyJWT==2.13.0
pytest==9.1.1
python-dateutil==2.9.0.post0
python-dotenv==1.2.3
python-multipart==0.0.32
six==1.17.0
starlette==1.0.1
typing-inspection==0.4.2
typing_extensions==4.15.0
tzdata==2026.3
uvicorn==0.47.0
